@import "base/variables";
@import "base/placeholders/text";

h1 {
  font-size: 24px;
  line-height: 24px;
}

.dashboard {
  display: grid;
}

.dashboard__header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.dashboard__powered_by {
  @extend %text-regular;

  color: $color-interactive;
}

.dashboard__charts {
  display: grid;
  grid-gap: $offset-m;
  width: 100%;
}

.dashboard__tables {
  margin-top: $offset-l;
}
