@import "../base/variables";

div.application.theme--light {
  background-color: $color-white;
}

div.primary--text,
label.primary--text {
  color: $color-interactive !important;
  caret-color: $color-interactive !important;
}
